* {
  font-family: "DM Sans", sans-serif;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
*:focus {
  box-shadow: unset !important;
  outline: unset !important;
}

a {
  color: #000;
  text-decoration: none !important;
  transition: 0.3s ease all;
}
a:hover {
  color: #506f87;
  text-decoration: none !important;
}

body {
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.demoContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: 700px;
  position: relative;
  background: #b6ebff;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px;
}
header .openMenu {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .openMenu .icon {
  width: 35px;
  height: 35px;
}

.mobileMenu .logo {
  width: 100px;
  height: 50px;
  background: #fff;
}

.mobileMenu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 100vw;
  background: #000;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease transform, 0.3s 0.3s ease opacity;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.mobileMenu.active {
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
  transition: 0.3s 0.3s ease transform;
}
.mobileMenu.active .wrapper {
  transition: 0.3s 0.5s ease all;
  transform: scale(1) translateX(0%);
}
.mobileMenu.active .menu ul li a {
  padding: 15px 0px;
}
.mobileMenu .backButton {
  position: absolute;
  cursor: pointer;
  top: 30px;
  left: 40px;
  z-index: 2;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d0d4dd;
  opacity: 0;
  pointer-events: none;
  gap: 10px;
}
.mobileMenu .backButton .icon {
  margin-right: 5px;
  width: 30px;
  height: 25px;
  fill: #fff;
  transition: 0.3s ease all;
}
.mobileMenu .backButton.active {
  opacity: 1;
  pointer-events: auto;
}
.mobileMenu .closeBtn {
  position: absolute;
  cursor: pointer;
  top: 28px;
  right: 22px;
  z-index: 2;
}
.mobileMenu .closeBtn:hover .icon {
  fill: var(--black80);
}
.mobileMenu .closeBtn .icon {
  width: 30px;
  height: 30px;
  fill: #d0d4dd;
  transition: 0.3s ease all;
}
.mobileMenu .bottom .logo {
  text-align: center;
  margin-bottom: 30px;
  display: block;
}
.mobileMenu .bottom .languageSelection {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.mobileMenu .bottom .languageSelection a {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  display: block;
}
.mobileMenu .bottom .languageSelection a.active {
  color: #00AEFE;
}
.mobileMenu .wrapper {
  transform: scale(0.9) translateX(10%);
  transition: 0.3s ease all;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 1;
}
.mobileMenu .wrapper .menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.mobileMenu .wrapper .menu ul li a {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
}
.mobileMenu .wrapper .menu ul li .dropdown-menu {
  display: none;
}
.mobileMenu .wrapper .menu1 {
  transition: 0.3s 0.3s ease all;
  transform: translateY(-50%) translateX(0%) scale(1);
}
.mobileMenu .wrapper .menu1.deactive {
  transition: 0.3s ease all;
  transform: translateY(-50%) translateX(-100%) scale(0.9);
  pointer-events: none;
}
.mobileMenu .wrapper .menu2 {
  transform: translateY(-50%) translateX(100%) scale(0.9);
  pointer-events: none;
  transition: 0.3s ease all;
}
.mobileMenu .wrapper .menu2 .subTitle {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  color: #fff;
  top: -50px;
}
.mobileMenu .wrapper .menu2.active {
  pointer-events: auto;
  transition: 0.3s 0.3s ease all;
  transform: translateY(-50%) translateX(0%) scale(1);
}

.mobileMenuBackdrop {
  position: fixed;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  background: #1d2938;
  transition: 0.3s 0.3s ease left, 0.3s 0.3s ease opacity;
  pointer-events: none;
  opacity: 0;
}
.mobileMenuBackdrop.active {
  pointer-events: auto;
  opacity: 0.68;
  left: 0;
  transition: 0.3s ease left;
}

/*# sourceMappingURL=style.css.map */
