$tray-colors: (
        #2196f3,
        #4a148c,
        #4db6ac,
        #ff5722,
        #444,
        #ec407a,
        #fbc02d,
        #2196f3,
        #607d8b,
        #43a047,
        #3f51b5,
        #00bcd4,
        #f44336,
        #9c27b0,
        #795548,
        #ffc107,
        #03a9f4,
        #2196f3,
        #4db6ac,
        #ff5722,
        #444,
        #ec407a,
        #fbc02d,
        #2196f3,
        #607d8b,
        #43a047,
        #3f51b5,
        #00bcd4,
        #3f51b5,
        #00bcd4,
);

.elements {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;


  .item {
    position: relative;
    width: 20%;
    aspect-ratio: 3/2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2196f3;
    @for $i from 1 through 30 {
      &:nth-child(#{$i}) {
        background-color: nth($tray-colors, $i);
      }
    }
  }
}


.button1 {
  position: relative;
  z-index: 20;
  overflow: hidden;
  border-radius: 6px;
  border: 0;
  background: #fff;
  padding: 2px;
  cursor: pointer;
  transition: 0.3s ease all;

  .text {
    background: #fff;
    transition: 0.3s ease all;

    padding: 10px 30px;
    border-radius: 6px;
    text-align: center;
    position: relative;
    display: block;
  }


  .border {
    width: 100px;
    aspect-ratio: 2 / 1;
    position: absolute;
    background: radial-gradient(
                    100% 100% at right,
                    #000000,
                    transparent 75%
    );
    offset-path: border-box;
    offset-anchor: 100% 50%;
    animation: journey var(--speed, 6s) infinite linear;
  }

  &:hover {
    background: #000;

    .border {
      background: radial-gradient(
                      100% 100% at right,
                      #fff,
                      transparent 75%
      );
    }

    .text {
      color: #fff;
      background: #000;
    }
  }
}


@keyframes journey {
  to {
    offset-distance: 100%;
  }
}



